apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: coder-k8s-authentication-reader
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
  - kind: ServiceAccount
    name: coder-k8s
    namespace: coder-system
